@if(!imageUrl){
<h2 mat-dialog-title style="padding: 0px;">
    <button style="box-shadow: none !important; background: transparent !important;" color="#fff" mat-mini-fab
        mat-dialog-close aria-label="Example icon button with a home icon">
        <mat-icon>close</mat-icon>
    </button>
</h2>
<mat-dialog-content>
    <div class="edit-popup d-flex  justify-content-center gap-4 align-items-center">
        <div class="example-button-container d-flex flex-column" style="color: black;">
            <button mat-fab color="primary"
                aria-label="Example icon button with a delete icon"><mat-icon>camera_alt</mat-icon></button>
            <label for="">Camera</label>
        </div>
        <div class="example-button-container d-flex flex-column" style="color: black;">
            <button mat-fab color="primary" aria-label="Example icon button with a delete icon"
                (click)="openFilePicker()"><mat-icon>
                    insert_photo</mat-icon></button>
            <label for="">Gallery</label>
        </div>
        <input type="file" #fileInput style="display:none" (change)="onFileSelected($event)">
    </div>
</mat-dialog-content>
}
@if (imageUrl) {
<div class="d-flex justify-content-around flex-column p-1">
    <div class="d-flex justify-content-center align-items-center" style="height: 500px;">
        <img [src]="imageUrl" alt="" height="280" width="280">
    </div>
    <div class="d-flex align-items-center justify-content-end gap-2">
        <button mat-raised-button color="primary" (click)="updateProfile()">Save</button>
        <button mat-raised-button color="warn" (click)="cancle()">Cancle</button>
    </div>
</div>
}