<mat-card class="main-card h-10">
    <mat-toolbar class="d-flex justify-content-between align-items-center">
        <div style="border: 1px solid rgba(155, 143, 143, 0.936);
            border-radius: 50%;
            height: 32px;
            width: 32px; display: flex; justify-content: center;align-items: center;">
            <mat-icon>search</mat-icon>
        </div>
        <h2>Simple Chat</h2>
        <div class="img-container">
            <button class="profile-img" mat-icon-button [matMenuTriggerFor]="menu"
                aria-label="Example icon-button with a menu">
                <img src="../../assets/avatars/dhruv_avatar.jpg" height="48px" width="48px" />
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>
                    <span>New Group</span>
                </button>
                <button mat-menu-item>
                    <span>New Broadcast</span>
                </button>
                <button mat-menu-item routerLink="/profile">
                    <span>Profile</span>
                </button>
            </mat-menu>
        </div>
    </mat-toolbar>
    <mat-card-content class="mt-2">
        <div class="stories d-flex justify-content-start align-items-center">
            @for(image of stories;track image.id){
            <div class="stories-box d-flex flex-column align-items-center">
                <div class="stories-box-img">
                    <div class="img-container">
                        <button class="profile-img" mat-icon-button aria-label="Example icon-button with a menu">
                            <img [src]="image.src">
                        </button>
                    </div>
                </div>
                <p>{{image.name | titlecase}}</p>
            </div>
            }
        </div>
        <mat-card class="inner-card">
            <mat-list role="list">
                @for(image of stories;track image.id){
                <mat-list-item role="listitem" (click)="goToRoom()">
                    <div class="d-flex align-items-end justify-content-between">
                        <div class="profile-text d-flex align-items-end justify-content-start gap-2">
                            <div class="img-container">
                                <button class="profile-img" mat-icon-button
                                    aria-label="Example icon-button with a menu">
                                    <img [src]="image.src">
                                </button>
                            </div>
                            <p>{{image.name | titlecase}}</p>
                        </div>
                        <div class="mess-number">
                            <p>2 min ago</p>
                            <button mat-mini-fab color="warn" aria-label="Example icon button with a home icon">
                                3
                            </button>
                        </div>
                    </div>
                </mat-list-item>
                }
            </mat-list>
            <mat-toolbar class="justify-content-between">
                <div class="d-flex align-items-center flex-column">
                    <mat-icon> chat_bubble_outline</mat-icon>
                    <p>Messages</p>
                </div>
                <div class="d-flex align-items-center flex-column">
                    <mat-icon>phone_forwarded</mat-icon>
                    <p>Calls</p>
                </div>
                <div class="d-flex align-items-center flex-column">
                    <mat-icon>account_circle</mat-icon>
                    <p>Contects</p>
                </div>
                <div class="d-flex align-items-center flex-column">
                    <mat-icon>settings</mat-icon>
                    <p>Settings</p>
                </div>
            </mat-toolbar>
        </mat-card>
    </mat-card-content>
</mat-card>