<mat-card class="example-card chat-card h-10">
  <mat-toolbar class="d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center justify-content-start">
      <mat-icon (click)="location.back()" class="me-1">keyboard_backspace</mat-icon>
      <div class="img-container me-1">
        <button class="profile-img" mat-icon-button aria-label="Example icon-button with a menu">
          <img src="../../assets/avatars/dhruv_avatar.jpg"/>
        </button>
    </div>
      <h2>Simple Chat</h2>
    </div>
    <div>
      <mat-icon class="me-1"> call</mat-icon>
      <mat-icon>videocam</mat-icon>
    </div>
  </mat-toolbar>
  <mat-card-content class="mt-2">
    <mat-list role="list" #chatContainer>
      @for(message of messageArr.slice().reverse();track message?.type){
      <mat-list-item role="listitem" [class]="message?.type == 'me' ? 'end' : 'start'">
        <mat-chip-set aria-label="Dog selection">
          <mat-chip>
            {{message?.message}}</mat-chip>
        </mat-chip-set>
      </mat-list-item>
      }
    </mat-list>
  </mat-card-content>
  <mat-toolbar class="footer d-flex align-items-center justify-content-between">
    <mat-icon> insert_link</mat-icon>
    <div class="input-box">
      <input type="text" [(ngModel)]="inputValue" placeholder="Enter your message">
      <mat-icon>file_copy</mat-icon>

    </div>
    @if(inputValue.length > 0){
    <div class="d-flex justify-content-center align-items-center">
      <mat-chip-listbox aria-label="Fish selection">
        <mat-chip-option (click)="sendMessage()"><mat-icon>send</mat-icon></mat-chip-option>
      </mat-chip-listbox>

    </div>
    }
    @if(inputValue.length < 1){ <div class="d-flex justify-content-center align-items-center">
      <mat-icon (click)="openCamera()">photo_camera</mat-icon>
      <mat-icon>keyboard_voice</mat-icon>
      </div>
      }

  </mat-toolbar>
</mat-card>
